* {
	box-sizing: border-box;
	background-color: lightgrey;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;

}

html {


}

body {

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;

}

header {
	border: 1px solid yellow;
	padding: 1em;
}

footer {
	border: 1px solid yellow;
	padding: 0.5em;

}

main {
		border: 1px solid yellow;
		display: flex;
		flex-direction: row;
		height: 100%;
}

.column {
	border: 1px solid red;
	padding: 10px;
}

p {
	padding-top: 1em;
}


.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
