* {
	box-sizing: border-box;
	background-color: lightgrey;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;

}

html {


}

body {

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;

}

header {
	border: 1px solid yellow;
}

footer {
	border: 1px solid yellow;

}

#main

#top {
	border: 1px solid red;
	flex: 1;
}

#middle {
	border: 1px solid green;
	flex: 1;

}

#bottom {
	border: 1px solid blue;
	flex: 1;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}